@import '../utils/variables.scss';

.advantages {
  width: 100%;
  background-color: $backgraund;
  .content {
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px 100px 15px;
    .title {
      margin: 0 auto;
      padding-top: 115px;
      padding-bottom: 65px;
      text-align: center;
      p {
        font-size: 34px;
        font-weight: 800;
        line-height: 0.8;
        span {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
    .card-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .footer_text {
      font-size: 18px;
      font-weight: 700;
      color: $blue;
      text-align: center;
      padding-top: 10px;
      transition-duration: 0.1s;
      p:hover {
        display: block;
        transform: translateY(-4px);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1075px) {
  .advantages {
    .content {
      .card-list {
        justify-content: space-around;
      }
    }
  }
}