

.CardSentence {
  width: 375px;
  background-color: white;
  padding: 33px 72px 40px 72px;
  padding-bottom: 40px;
  border-radius: 6px;
  margin-bottom: 32px;
  transition-duration: 0.1s;
  .example {
    width: 100%;
    height: 232px;
    border: 5px solid black;
    border-image: linear-gradient(to left, #323232, black);
    border-image-slice: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }
}
.CardSentence:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px;

}

@media screen and (max-width: 1075px) {
  .CardSentence {
    width: 480px;
  }
}