@import '../utils/variables.scss';

.footer {
  width: 100%;
  background-color: #1a223b;
  border-top: 1px solid #ebecee;
  .content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 15px 0 15px;
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      .logo {
        height: 44px;
        margin-right: 94px;
      }
      .columns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 91px;
        .column {
          width: 195px;
          padding: 15px;
          font-style: 15px;
          font-weight: 600;
          color: white;
          line-height: 2;
          li {
            display: flex;
            align-items: center;
            img {
              margin-right: 13px;
            }
          }
          li:hover {
            color: $blue;
            cursor: pointer;
          }
          span {
            color: #6c7590;
          }
        }
      }
      .button_block {
        display: flex;
        button {
          width: 121px;
        }
        .login {
          border: 2px solid $blue;
          background-color: white;
          color: $blue;
        }
        .login:hover {
          border: 2px solid $blue;
          border-radius: 6px;
          background-color: $blue;
          color: $backgraund;
        }
        .free {
          border: none;
          color: white;
        }
        .free:hover {
          border: 2px solid $border_butten;
          background-color: $backgraund;
          color: $blue;
        }
      }
    }
    .compani {
      border-top: 1px solid #2f364d;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      color: white;
      padding-top: 35px;
      padding-bottom: 56px;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1075px) {
  .footer {
    .content {
      .footer-bottom {
        .button_block {
          flex-direction: column;
          justify-content: flex-start;
          .login {
            margin-right: 0px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .footer {
    .content {
      .footer-bottom {
        flex-direction: column;
        align-items: center;
        .logo {
          margin-right: 0px;
        }
        .button_block {
          width: 100%;
          justify-content: space-around;
          .login {
            margin-right: 0px;
            margin-bottom: 15px;
          }
        }
        .columns {
          flex-wrap: wrap;
        }
      }
    }
  }
}