@import '../utils/variables.scss';

.conteiner_header {
  width: 100%;
  height: 115px;
  background-color: $backgraund;
  .content {
    height: 100%;
    max-width: 1080px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      img {
        height: 44px;
        margin-right: 10px;
      }
      p {
        text-transform: uppercase;
        font-size: 26px;
        color: $blue;
        span {
          font-weight: 800;
        }
      }
    }
    .menu_list {
      display: block;
      margin: 0 auto;
      button {
        margin: 0;
      }
      .menu {
        li {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          margin-right: 27px;
        }
        li:last-child {
          margin-right: 0px;
        }
        li:hover {
          cursor: pointer;
          color: $blue;
        }
      }
      .menu_burger {
        display: none;
      }
      .burger {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1075px) {
  .conteiner_header {
    .content {
      .menu_list {
        position: relative;
        .burger {
          display: block;
          
        }
        .menu {
          display: none;
        }
        .menu_burger.hide{
          display: none;
        }
        .menu_burger {
          display: block;
          width: 225px;
          border: 2px solid $border_butten;
          border-radius: 6px;
          background-color: white;
          left: -100px;
          padding: 15px 15px;
          margin-top: 8px;
          text-align: center;
          position: absolute;
          li {
            cursor: pointer;
            display: block;
            margin-right: 0px;
            margin-top: 22px;
          }
          li:hover {
            color: $blue;
          }
        }
      }
      
    }
  }
  
}

@media screen and (max-width: 768px) {
  .conteiner_header {
    .content {
      p {
        display: none;
      }
    }
  }
}