@import '../utils/variables.scss';

.sentence {
  width: 100%;
  background-color: $backgraund;
  .content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 15px 0 15px;
    .title {
      font-size: 34px;
      font-weight: 800;
      text-align: center;
      color: $title_text;
      span {
        font-size: 18px;
        font-weight: 400;
        color: $text;
      }
    }
    .card_list {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 68px;
    }
  }
}

@media screen and (max-width: 1075px) {
  .sentence {
    .content {
      .card_list {
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 320px) {

}